ul.nav.nav-tabs.nav-stacked.index
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter1.html") ¿Por qué publicar datos?
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter2.html") Identificar conjuntos de datos para la publicación
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter3.html") Revisar la completitud y exactitud de los datos
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter4.html") Llevar a cabo una revisión interna de los datos
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter5.html") Añadir metadatos
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter6.html") Añadir una licencia ó términos de uso
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter7.html") *TODO* Publishing data for the world to use
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./chapter8.html") Fomentar la reutilización
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./case1.html") *TODO* Case Study: Crime Data
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="./case1.html") *TODO* Case Study: Property Tax Data